__pycache__/
*.py[cod]
*$py.class

*.so

.Python
env/
venv/
ENV/
env.bak/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

.pytest_cache/

.mypy_cache/
.dmypy.json
.pyre/

.vscode/

.ipynb_checkpoints

.DS_Store
.AppleDouble
.LSOverride

._*

.idea/
*.iml

input/
output/
logs/
*.log

.streamlit/

.env
.env.*

*.env

*.swp
*.swo

Thumbs.db
ehthumbs.db
Icon?
Desktop.ini

tmp/
temp/
*.tmp

/docs/_build/

site/

node_modules/

htmlcov/
